body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  border: 1px solid black;
  background-image: url('https://images.unsplash.com/photo-1498145645178-ab2c7cebc433?ixlib=rb-1.2.1&auto=format&fit=crop&w=1225&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -600px;
  height: 350px;
  display: flex;
  justify-content: center;
}

.header > h1 {
  align-self: center;
  font-size: 50px;
  color: white;
}

/* .nav {
  border: 1px solid black;
  height: 30px;
  display: flex;
  justify-content: center;
} */

.main {
  border: 1px solid black;
  display: flex;
  text-align: center;
}

.side {
  border: 1px solid black;
  width: 20%;
}

table {
  width: 80%;
  margin: auto;
}

tr > .songrows {
  height: 150px;
}

th {
  padding: 10px;
}

ul {
  padding-left: 0px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}
li > .buttons {
  display: flex;
  margin-top: 5px;
}

ul > li > img {
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 1px;
}

.songlist {
  border: 1px solid black;
  width: 100%;
  background-color: beige;
  font-size: 20px;
}

.coverart {
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

.covers{
  width: 100px;
  opacity: 1;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 1px;
  width: 125px;
  height: 125px;
  /* height: auto; */
  transition: .5s ease;
  backface-visibility: hidden;
}

.add {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.coverart:hover .covers {
  opacity: .3;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  z-index: 2;
}

.coverart:hover .add {
  opacity: 1;
  font-weight: bold;
  font-size: 20px;
  z-index: 2;
}
input {
  border: solid beige;
  border-radius: 8px;
  width: 150px;
}
.input1 {
  color: rgba(0, 0, 0, 0.5);
   transition: all 0.3s ease 0s;
}
.button1 {
  width:125px;
  background-color: beige;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.input1:hover {
  color: #404040 !important;
  font-weight: 550 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}



