body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #faecc0;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  background-color: #faecc0;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png"); */
  background-color: #b09d77;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}


.header {
  background-image: url('https://images.unsplash.com/photo-1498145645178-ab2c7cebc433?ixlib=rb-1.2.1&auto=format&fit=crop&w=1225&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -550px;
  height: 350px;
  display: flex;
  justify-content: center;
  font-family: 'Poiret One', cursive;
}
  .header > h1 {
    align-self: center;
    font-size: 70px;
    color: white;
  }

.main {
  width: 80%;
  margin: auto;
  display: flex;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}


.hide-side {
  width: 1px;
  box-shadow: 2px 2px 5px 3px;
  background-color: #faecc0;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  transition: all 1.8s ease-in-out;
}
  .hide-side > ul  {
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  .hide-side > h2  {
    opacity: 0;
    transition: all 1s ease-in-out;
  }

.show-side {
  border-radius: 2px;
  box-shadow: 1px 2px 10px 3px;
  width: 30%;
  color: black;
  background-color: #faecc0;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
  transition: all 1s ease-in-out;
 }
   .show-side > ul  {
     transition: all 1.5s ease-in-out;
   }

   .show-side > h2  {
     transition: all 1.5s ease-in-out;
     font-weight: bolder;
     font-size: 35px;
   }

.toggle {
  width: 3%;
  border: 2px solid #b09d77;
  z-index: 1;
  box-shadow: 2px 2px 5px 2px, -2px -2px 4px;
  background-color: #b09d77;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  font-weight: bold;
  padding: 2px;
  font-family: 'Poiret One', cursive;
  font-size: 12px;
}


.songlist {
  border-radius: 2px;
  box-shadow: 2px 2px 10px 3px;
  width: 100%;
  font-size: 20px;
  background-color: #faecc0;
  background-image: url("https://www.transparenttextures.com/patterns/low-contrast-linen.png");
}

.songlist > h2 {
  font-size: 35px;
}

table {
  width: 80%;
  margin: auto;
}

tr > .songrows {
  height: 150px;
}

th {
  padding: 10px;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 24px;
}

ul {
  padding-left: 0px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  font-size: 18px;
}
li > .buttons {
  display: flex;
  margin-top: 5px;
}
ul > li > p {
  margin: 3px;
}

ul > li > img {
  width: 200px;
  height: 200px;
  margin-bottom: 8px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 1px;
}

.favbuttons {
  border: 1px solid #b09d77;
  background: #faecc0;
  border-radius: 5px;
  box-shadow: 1.5px 2px 1px;
  width: auto;
  font-family: 'Poiret One', cursive;
  font-size: 12px;
  font-weight: bold;
}

.coverart {
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

.covers{
  width: 100px;
  opacity: 1;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 1px;
  width: 125px;
  height: 125px;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-top:5px;
}

.add {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.coverart:hover .covers {
  opacity: .3;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  z-index: 2;
}

.coverart:hover .add {
  opacity: 1;
  font-weight: bold;
  font-size: 20px;
  z-index: 2;
}
input {
  border: 1px solid #b09d77;
  border-radius: 5px;
  width: 150px;
  height: 20px;
  font-family: 'Poiret One', cursive;
  font-size: 12px;
  margin: 1px;
  margin-bottom: 10px;
  color: #b09d77;
}

.input1 {
  color: rgba(0, 0, 0, 0.5);
   transition: all 0.3s ease 0s;
   font-family: 'Poiret One', cursive;
   font-size: 14px;
   height: 25px;
   background-color: #b09d77;
   color: beige;

}
.button1 {
  width:125px;
  background-color: beige;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  font-family: 'Poiret One', cursive;
  font-size: 12px;
}
.input1:hover {
  color: #404040 !important;
  font-weight: 550 !important;
  letter-spacing: 3px;
  border: 2px solid rgba(0,0,0,.5);
  background: none;
  width: auto;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.5s ease 0s;
}


@media (max-width: 1100px) {
  .main {

  }
  .header {
    height: 150px;
  }
  .songlist {
    width: 100%;
    font-size: 14px;
  }
  .toggle {
    width: 8%;
    z-index: 2;
    font-size: 8px;
  }
  .show-side {
    /* width: 30%; */
    z-index: 1;
  }
  ul > li > img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 1px 1px;
  }
  ul > li  {
    font-size: 10px;
  }
  .favbuttons {
    font-size: 8px;
  }
  .show-side > h2 {
    font-size: 14px;
  }
  .main {
    margin-left: 0px;
    margin: auto;
    margin-top: 5%;
    width: 100%;
  }
  .covers {
    width: 55px;
    height: 55px;
  }
  .button1 {
    width: 60px;
    font-size: 7px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
}
